body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #65afff;
  font-size: 2rem;
  text-align: center;
  background-color: #1b2845;
}
button {
  background-color: #274060;
  color: #cf1259;
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  margin: 0rem 1rem 0rem 1rem;
}
.navbar {
  display: flex;
  display: inline-flex;
  justify-content: space-around;
}
.difficulty-btns {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
.difficulty-btns > .easy {
  color: green;
}
.difficulty-btns > .medium {
  color: yellow;
}
.difficulty-btns > .hard {
  color: red;
}
